.desktop-1
{
position:absolute;
background-color:#013328;
height:600px;
width:1280px;
padding:0px;
}
.hum
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:60.39999389648438px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
left:325px;
top:107px;
position:absolute;
width:335px;
}
.temperature
{
color:#e3dcd3;
text-align:left;
vertical-align:text-top;
font-size:54px;
font-family:Inter;
left:767px;
top:82px;
width:289px;
height:77px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.pir
{
color:#e3dcd2;
text-align:left;
vertical-align:text-top;
font-size:54px;
font-family:Inter;
left:767px;
top:343px;
width:131px;
height:77px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.pirstate
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:60.39999389648438px;
font-family:Inter;
left:333px;
top:369px;
width:327px;
height:90px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle3
{
background-color:#cc8b65;
height:92px;
width:1280px;
top:555px;
left:0px;
position:absolute;
}
.wildan
{
color:#0f100e;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:26px;
top:588px;
width:411px;
height:60px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.outputsensords18b20
{
color:#888888;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Inter;
left:767px;
top:166px;
width:348px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.outputsensorpir
{
color:#888888;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Inter;
left:768px;
top:420px;
width:308px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

body{
    margin : 0;
    width: 100%;
    height:100vh ;
}
